{% extends "base.html" %}
{% load thumbnail staticfiles bleach_tags %}


{% block content %}
<h1>{{ topic.title }}</h1>
<p class="lead">{{ topic.description|bleach|safe }}</p>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href="{% url 'topics:topic_submit' topic.slug %}">
      <i class="large material-icons">+</i>
    </a>
  </div>

{% if topic.enable_card_view %}
<a href="{% url 'topics:topic_view' topic.slug %}?view=card" class="btn btn-default" type="submit">
    <span class="typcn typcn-th-large-outline"><span></a>
{% endif %}
{% if topic.enable_list_view %}
<a href="{% url 'topics:topic_view' topic.slug %}?view=list" class="btn btn-default" type="submit">
    <span class="typcn typcn-th-list-outline"><span></a>
{% endif %}

{% if view == "list" %}
<div class="topic-list row">
  <ul class="collection">
  {% for choice in topic.choices %}
  <li class="collection-item avatar">

    {% if choice.picture %}
    {% thumbnail choice.picture "100x100" crop="center" as im %}
     <img src="{% static im.url %}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% endif %}
    <a href="{{ choice.link }}" class="secondary-content"><i class="material-icons">{{ choice.get_link_text }}</i></a>

    <span class="title">{{ choice.text }}</span>
    <p>{{ choice.description }}</p>

    {% if topic.list_page_voting %}
    <form action="{% url 'topics:topic_vote_view' topic.slug choice.id %}" method="post">{% csrf_token %}
        <button class="btn waves-effect waves-light right-align" type="submit" name="action">Vote</button>
    </form>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
</div>
{% endif %}


{% if view == "card" %}
<div class="row">
  {% for choice in topic.choices %}
  <div class="col s12 m6 grid-example">
    <div class="card large">
      <div class="card-image">

      {% if choice.picture %}
      {% thumbnail choice.picture "300x300" crop="center" as im %}
       <img class="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
      {% endif %}

        <span class="card-title">{{ choice.text }}</span>
      </div>
      <div class="card-content">
        <p>{{ choice.description }}</p>
      </div>
      <div class="card-action">
        {% if topic.list_page_voting %}
        <form action="{% url 'topics:topic_vote_view' topic.slug choice.id %}" method="post">{% csrf_token %}
            <button class="btn waves-effect waves-light right-align" type="submit" name="action">Vote</button>
        </form>
        {% endif %}
        {% if choice.link %}
        Link: <a href="{{ choice.link }}">{{ choice.get_link_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}


{% endblock %}
