{% load staticfiles i18n %}
<!DOCTYPE html>

<html>
    <head>
        {% block meta_tags %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% trans "Chipy Voter" %}{% endblock %}
        </title>
        {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link type="text/css" rel="stylesheet" href='{% static "vendor/materialize/bin/materialize.css" %}' media="screen,projection"/>
        <link rel='stylesheet' href='{% static "vendor/typicons/src/font/typicons.min.css" %}' />
        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>

        <nav class="orange lighten-1">
          <div class="nav-wrapper">
            <div class="col s12">

                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="">Sass</a></li>
                  <li><a href="">Components</a></li>
                  <li><a href="">JavaScript</a></li>
                </ul>

            </div>
          </div>
        </nav>


        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
                {% block content %}
                {% endblock %}
          </div>
        </div>

        <footer class="page-footer  orange lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://chipy.org">ChiPy.org</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.meetup.com/_ChiPy_/">Chipy Meetup</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright  orange">
            <div class="container">
            © 2015 Chicago Python User Group: Source code available at Github
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>




    </body>
    {% block javascript %}
    <script src='{% static "vendor/bootstrap/dist/js/bootstrap.js" %}'></script>
    <script type="text/javascript" src='{% static "vendor/materialize/bin/materialize.js" %}'></script>
    {% endblock %}
</html>
